<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="register-form">
    <mat-card-title>Add new post</mat-card-title>
    <mat-card-content>
      <form
        #f="ngForm"
        fxLayout="column"
        (ngSubmit)="onSubmit()"
        [appRequired]="['description', 'image']"
      >
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input name="title" required matInput ngModel #title="ngModel"/>
          <mat-error
            *ngIf="title.touched && title.hasError('required')"
          >Post title is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input name="description" matInput ngModel #description="ngModel">
          <mat-error
            *ngIf="description.touched && f.errors?.['descriptionImage']"
          >Description is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Image</mat-label>
          <app-file-input name="image" ngModel #image="ngModel"></app-file-input>
          <mat-error
            *ngIf="image.touched && f.errors?.['descriptionImage']"
          >Image is required!
          </mat-error>
        </mat-form-field>

        <ng-template #btn>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="f.invalid"
          >Send</button>
        </ng-template>
        <mat-progress-bar mode="indeterminate" *ngIf="(loading | async) else btn"></mat-progress-bar>
      </form>
    </mat-card-content>
  </mat-card>
</div>







