<mat-toolbar fxLayoutAlign="space-between center">
  <a routerLink="/" fxLayoutAlign="center">
    Forum
  </a>
  <div fxLayoutAlign="space-between center" *ngIf="!(user | async) else userMenu">
    <a routerLink="/addPost" class="addPost">
      Add new post
    </a>
    <a routerLink="/registration">
      <span class="material-icons register">account_circle</span>
    </a>
    <a routerLink="/login">
      SIGN IN
    </a>
  </div>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>

<ng-template #userMenu>
  <h3>Hello, {{ userData?.name }}!</h3>
  <nav>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </nav>
</ng-template>
