
<mat-card>
  <mat-card-title-group>
    <mat-card-title>{{ postData?.title }}</mat-card-title>
    <mat-card-subtitle>{{ postData?.date }}</mat-card-subtitle>
    <img mat-card-xl-image [src]="apiUrl + '/uploads/' + postData?.image" alt="{{ postData?.title }}">
  </mat-card-title-group>
  <mat-card-content>
    {{ postData?.description }}
  </mat-card-content>
</mat-card>

<mat-card>
  <h3>Leave a comment:</h3>
  <form fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <input name="text" required matInput ngModel #comment="ngModel"/>
      <mat-error
        *ngIf="comment.touched && comment.hasError('required')"
      >Comment is required!
      </mat-error>
    </mat-form-field>
  </form>
</mat-card>
